<% include partials/_head_tag.ejs %>

<body>
  <header>
  <h1>Create your poll</h1>
  </header>
  <section>
  <form action="/api/polls/" method="post" class="create-poll">
    <div class="question-field">
      <input type="text" name="question" id="question" required minlength="1" maxlength="255" placeholder="Enter your question here">
    </div>
    <div class="answer-field">
      <input type="text" name="answer1" id="answer1" required minlength="1" maxlength="255" placeholder="First option goes here">
    </div>
    <div class="answer-field">
      <input type="text" name="answer2" id="answer2" required minlength="1" maxlength="255" placeholder="Second option goes here">
    </div>
    <div class="answer-field">
      <input type="text" name="answer3" id="answer3" required minlength="1" maxlength="255" placeholder="Third option goes here">
    </div>
    <div class="answer-field">
      <input type="text" name="answer4" id="answer4" required minlength="1" maxlength="255" placeholder="Fourth option goes here">
    </div>

    <div class="email-field">
      <input type="email" name="email" id="email" required minlength="1" maxlength="255" placeholder="Enter your email">
    </div>
    <div class="include-name-box">
      <input type="checkbox" name="include-name" id="include-name">
      <label for="include-name">Do you want to require a name from voters?</label>
    </div>

    <div class="poll-submit">
      <input type="submit" value="Create your poll!">
    </div>
  </form>
</section>


</body>



</html>
