<% include partials/_head_tag.ejs %>

<body>
  <nav id="nav">
    <div id="navbar">
      <h1>Decision Maker</h1>
      <a href="/" class="create-poll-btn hidden"><span>Create a new poll</span></a>
    </div>
  </nav>


  <% if (voted) { %>
    <div class="index_msg">
      <% if (voter_name) {%>
        <h2>Thanks for voting <%= voter_name %>!</h2>
      <% } else { %>
        <h2>Thanks for voting!</h2>
      <% } %>
    </div>
  <% } %>

  <% if (msg) { %>
    <div class="index_msg">
      <h2><%= msg %></h2>
    </div>
  <% } %>

<main id="container">
  <h1 class="page-title">Create your poll</h1>
  <section class="poll_form">
  <form action="/api/polls/" method="post" class="create-poll">
    <div class="question-field">
      <input type="text" name="question" id="question" required minlength="1" maxlength="255" placeholder="Enter your question here">
    </div>

    <div class="all_input_boxes">
      <div class="input_box">
        <div class="answer-field">
          <input type="text" name="answer1" id="answer1" class="answer-input" required minlength="1" maxlength="255" placeholder="Option 1">
        </div>
        <div class="description-field">
          <textarea name="description_1" id="description1" class="description-input" maxlength="255" placeholder="Description (optional)"></textarea>
        </div>
      </div>

      <div class="input_box">
        <div class="answer-field">
          <input type="text" name="answer2" id="answer2" class="answer-input" required minlength="1" maxlength="255" placeholder="Option 2">
        </div>
        <div class="description-field">
          <textarea name="description_2" id="description2" class="description-input" maxlength="255" placeholder="Description (optional)"></textarea>
        </div>
      </div>

      <div class="input_box">
        <div class="answer-field">
          <input type="text" name="answer3" id="answer3" class="answer-input" required minlength="1" maxlength="255" placeholder="Option 3">
        </div>
        <div class="description-field">
          <textarea name="description_3" id="description3" class="description-input" maxlength="255" placeholder="Description (optional)"></textarea>
        </div>
      </div>

      <div class="input_box">
        <div class="answer-field">
          <input type="text" name="answer4" id="answer4" class="answer-input" required minlength="1" maxlength="255" placeholder="Option 4">
        </div>
        <div class="description-field">
          <textarea name="description_4" id="description4" class="description-input" maxlength="255" placeholder="Description (optional)"></textarea>
        </div>
      </div>
    <div>

    <div class="form-footer">
      <div class="email-field">
        <input type="email" name="email" id="email-input" required minlength="1" maxlength="255" placeholder="Enter your email">
      </div>
      <div class="include-name-box">
        <input type="checkbox" name="include_name" id="include-name">
        <label for="include-name">Do you want to require a name from voters?</label>
      </div>
      <button class="poll-submit btn btn-primary" type="submit">Create!</button>
    </div>

  </form>
</section>
</main>


</body>



</html>
