<% include partials/_head_tag.ejs %>
<body>
  <h2 class="page-title">The results:</h2>
  <p class="poll-question">Poll Question</p>
  <div class="results">
    <p id="result-1">Winner!!</p>
    <p id="result-2">Second</p>
    <p id="result-3">Third</p>
    <p id="result-4">Fourth</p>
  </div>
  <button type="button">Create Your Own Poll!</button>
</body>
</html>
