<% include partials/_head_tag.ejs %>
<body>
  <%- include('partials/_navbar') %>
  <main id="container">
<header class="success-msg">
  <h2 class="success">Thanks for creating your poll.</h2>
  <p class="success-send">Send to your friends to gather your results!</p>
</header>
<section class="success-links">
  <a id="results-link" href="/api/polls/results/<%=resultUrl%>">View your results</a>
  <br>
  <a id="vote-link" href="/api/polls/vote/<%=submissionUrl%>">Share with your friends</a>
</section>
</main>
</body>
</html>
