<% include partials/_head_tag.ejs %>

<header>
  <h1>Thanks for creating your poll. Send to your friends to gather your results!</h1>
  </header>
  <section>
  <a href=#>View your results</a>
  <a href=#>Share with your friends</a>
  </section>

</html>
