<% include partials/_head_tag.ejs %>
<body>
  <% include('partials/_navbar') %>
<header class="success-msg">
  <p>Thanks for creating your poll.</p>
  <p>Send to your friends to gather your results!</p>
</header>
<section>
  <a id="results-link" href=#>View your results</a>
  <a id="vote-link" href=#>Share with your friends</a>
</section>
</body>
</html>
