<% include partials/_head_tag.ejs %>

<header>
  <p class="success-msg">Thanks for creating your poll. Send to your friends to gather your results!</p>
</header>
<section>
  <a href=#>View your results</a>
  <a href=#>Share with your friends</a>
</section>

</html>
