// * {
//   border: 1px solid black;
// }
$font-color: #edf5e1;
$accent-color: #54d987;
$match-bg: #4743e3;


body {
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  // background: rgb(163, 208, 219);
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

h1 {
  font-family: 'Barriecito', cursive;
  color: $font-color;
}

div {
  display: flex;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  flex-basis: 100%;
}

.page-title {
  font-family: 'Barriecito', cursive;
}
// navbar

nav {
  width: 100%;
  position: fixed;
  top: 0;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.create-poll-btn {
  background: none;
  text-decoration: none;
  border: none;
  color: $font-color;
  padding:10px;
  height: 50px;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Barriecito', cursive;
  cursor: pointer;
}

@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

.create-poll-btn:hover {
  color: $accent-color;
  animation: pulse 1s infinite ease-in-out alternate;
}

// index.ejs

.page-title {
  font-size: 45px;
}

section.poll_form {
  width: 95vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.create-poll {
  width: 100%;
  justify-content: center;
}

.hidden {
  display: none;
}

.all_input_boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}

.input_box {
  width: 95%;
  height: 10em;
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 255, 255);
  color: #2575fc;
}

.answer-field{


  .answer-input{
    font-size: x-large;
    color: $match-bg;
  }
}

.description-field {
  flex-grow: 2;

  .description-input {
    background-color: rgb(227, 255, 255);
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    color: $match-bg;
    font-size: large;
  }
}


.form-footer {
  width: 500px;
  display: flex;
  flex-direction: column;
}

input#question {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 1px solid $accent-color;
  color: $font-color;
  font-size: 24px;;
}

input.answer-input {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 1px solid #4743e3;
 }

input.description-input {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 1px solid $accent-color;
}

.include-name-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  color: $font-color;
}

input[type=checkbox] {
  transform: scale(1.7);
}

#email-input {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 1px solid $accent-color;
  color: $font-color;
  font-size: large;
}

button.poll-submit {
  margin-top: 10px;
  justify-content: center;
  border: none;
  background-color: rgb(227, 255, 255);
  color: #4743e3;
  font-family: 'Barriecito', bold;
  font-size: xx-large;
}

button.poll-submit:hover{
  background-color: #4743e3;
  color: rgb(227, 255, 255);
}


//results.ejs


p#result-1 {
  font-size: 24px;
  color: navy;
}

//voting.ejs
input.voter-input {
  width: 100%;
}

.poll_question {
  color: $font-color;
  border-bottom: $font-color;
  font-size: 2.2rem;
}

.vote_submission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.option {
  width: 450px;
  margin: 1em;
  padding-left: 1.3em;
  padding-right: 1.5em;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(227, 255, 255);
  color: $match-bg;
  border-radius: 2%;
  gap: 3em;
  transition: box-shadow .3s;
}

div.option:hover {
  box-shadow: 0 0 14px rgba(33, 33, 33, 0.664);
  transform: scale(1.05);
  cursor: grab;
}

div.option:active {
  cursor: grabbing;
}

div .option-info {
  flex-grow: 2;
  flex-direction: column;
  align-items: flex-start;
}

.voter-input {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 1px solid $accent-color;
  color: $font-color;
  font-size: x-large;
}

button.vote_submit_button {
  margin-top: 10px;
  justify-content: center;
  border: none;
  background-color: rgb(227, 255, 255);
  color: #4743e3;
  font-family: 'Barriecito', bold;
  font-size: xx-large;
}

button.vote_submit_button:hover{
  background-color: #4743e3;
  color: rgb(227, 255, 255);
}

.vote_success_msg {
  color: $font-color;
  border: #54d987;
}

//success.ejs
.success-msg {
  flex-direction: column;
}
section.links {
  display: flex;
}



