// * {
//   border: 1px solid black;
// }
$font-color: #edf5e1;
$accent-color: #6cdaee;
$match-bg: #4743e3;
$box-bg: rgba(237, 245, 225, .95);


body {
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

h1 {
  text-align: center;
  font-family: 'Barriecito', cursive;
  color: $font-color;
}

#container {
  position: relative;
  width: 100%;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-family: 'Barriecito', cursive;
}

// navbar

#nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: top 0.3s;
  // display: none;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  opacity: 1;
}
#navbar h1 {
  color: $accent-color;
}

.create-poll-btn {
  background: none;
  text-decoration: none;
  border: none;
  color: $font-color;
  padding:10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Barriecito', cursive;
  cursor: pointer;
}

@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

.create-poll-btn:hover {
  color: $accent-color;
  animation: pulse 1s infinite ease-in-out alternate;
}

// index.ejs

.page-title {
  font-size: 45px;
}

section.poll_form {
  width: 95vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.create-poll {
  width: 100%;
}

.hidden {
  display: none;
}

.all_input_boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.2em;
}

.input_box {
  width: 95%;
  height: 10em;
  display: flex;
  flex-direction: column;
  background-color: $box-bg;
  color: #2575fc;
  border-radius: 20px;
  padding: 20px;
}

.answer-field{


  .answer-input{
    font-size: x-large;
    color: $match-bg;
  }
}

.description-field {
  flex-grow: 2;

  .description-input {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    color: $match-bg;
    font-size: large;
  }
}

.form-footer {
  width: 95 vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

input#question {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 3px solid $accent-color;
  color: $font-color;
  font-size: 24px;
  margin-bottom: 30px;
}

input.answer-input {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 3px solid $accent-color;
  margin-bottom: 5px;
 }

input.description-input {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 3px solid $accent-color;
}

.include-name-box {
  margin: 20px;
  font-size: large;
  color: $font-color;
}

#include-name {
  transform: scale(1.7);
  margin: 15px;
}

#email-input {
  width: 500px;
  background: none;
  border-style: none;
  border-bottom: 3px solid $accent-color;
  color: $font-color;
  font-size: large;
  margin-top: 20px;
}

button.poll-submit {
  margin-top: 10px;
  border: none;
  background-color: $accent-color;
  color: #4743e3;
  font-weight: 700;
  font-size: x-large;
  border-radius: 100px;
  padding: 5px 30px;
}

button.poll-submit:hover{
  background-color: $font-color;
  color: #4743e3;
}


//results.ejs


p#result-1 {
  font-size: 24px;
  color: navy;
}

//voting.ejs


input.voter-input {
  width: 100%;
  border-bottom: 3px solid $accent-color;
}

.poll_question {
  color: $accent-color;
  border-bottom: $font-color;
  font-size: 2.2rem;
  text-align: center;
}

.vote_submission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.voter_name {
  margin: 20px;
  width: 80%;
}

.option {
  width: 450px;
  margin: 1em;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: $box-bg;
  color: $match-bg;
  border-radius: 20px;
  gap: 3em;
  transition: box-shadow .3s;
}

.option-info {
  display: flex;
}

.order {
  font-size: 48px;
  font-weight: 700;
  display: flex;
  justify-content: end;
}

.option:hover {
  box-shadow: 0 0 14px rgba(33, 33, 33, 0.664);
  transform: scale(1.05);
  cursor: grab;
}

.option:active {
  cursor: grabbing;
}

.option-info {
  flex-grow: 2;
  flex-direction: column;
  align-items: flex-start;
}

.voter-input {
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 1px solid $accent-color;
  color: $font-color;
  font-size: x-large;
}

.index_msg {
  color: $font-color;
  border: #54d987;
}

//success.ejs
.success-msg {
  flex-direction: column;
}
section.links {
  display: flex;
}

@media only screen and (min-width: 1024px) {

}



