$font-color: #edf5e1;
$accent-color: #6cdaee;
$match-bg: #4743e3;
$box-bg: rgba(237, 245, 225, .95);

.result-title {
  font-size: 60px;
}

h2 .poll_question {
  text-align: center;
}
div.results {

  margin-top: 20px;

  .result-block {
    background: none;
    border-bottom: 3px solid $accent-color;
    min-height: 12vh;
    height: auto;
    width: 80vw;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    overflow-wrap: anywhere;

    .result-text {
      font-size: xx-large;
      margin-left: 40px;
      color: $font-color;
    }

    #result-cont {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
    }

    .result-percent {
      font-size: xx-large;
      font-weight: 700;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      color: $font-color;
      margin-right: 60px;
    }
  }

  #result-1 {
    display: flex;
    flex-direction: column;
    background-color: $accent-color;
    min-height: 160px;
    height: auto;
    padding-top: 20px;
    border-radius: 20px;
  }
  #result-1 .result-text {
    color: $match-bg;
    font-weight: 700;
    font-size: 48px;
  }

#result-1 .result-percent {
  color: $match-bg;
  font-size: 48px;
  margin-right: 40px;

}
  .winner {
    width: 80vw;
    max-width: 600px;
    font-size: 36px;
    font-family: 'Barriecito', cursive;
    color: $accent-color;
  }
}
